.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

* {
  text-align: center;
}

ul {
  list-style: none;
}

h1 {
  padding-bottom: 20px;
  font-size: 5rem !important;
}

.header {
  position: relative;
  text-align: center;
  padding-bottom: 2rem;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img {
  height: 100%;
  width: 100%;
}

.row1 {
  padding-bottom: 2rem;
}

.row2 {
  background-color: #d6d0c2;
  padding-bottom: 5rem;
}

.quiz-action {
  padding-top: 2rem;
}

.create-add-quiz {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
